:root {
  /* Colors */
  --dark-primary-color: #ffa000;
  --default-primary-color: #ffc107;
  --light-primary-color: #ffecb3;
  --text-primary-color: #212121;
  --accent-color: #795548;
  --primary-background-color: #ffecb3;
  --secondary-text-color: #757575;
  --disabled-text-color: #bdbdbd;
  --divider-color: #bdbdbd;

  /* paper-drawer-panel */
  --drawer-menu-color: #ffffff;
  --drawer-border-color: 1px solid #ccc;
  --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

  /* paper-menu */
  --paper-menu-background-color: #fff;
  --menu-link-color: #111111;

  /* paper-input */
  --paper-input-container-color: rgba(153, 120, 72, 0.568);
  --paper-input-container-focus-color: rgba(255, 255, 255, 1);
  --paper-input-container-input-color: #fff;
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(../assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Italic.ttf);
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Roboto;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  color: var(--text-primary-color);
}

.wrapper > * {
  border: var(--drawer-border-color);
  background-color: var(--primary-background-color);
  border-radius: 1em;
  padding: 1rem;
}

.main-head > * {
  display: flex;
  flex-flow: row wrap;
  font-family: Pacifico-Regular;
}

.main-head-text h1{
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.main-head-text {
  justify-content: flex-start;
}

.main-head-text a{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--text-primary-color);
}


.navigation {
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navigation a {
  background-color:var(--paper-input-container-color);
  display: inline-block;
  text-decoration: none;
  padding: 0.7em;
  color: var(--text-primary-color);
  font-size: 1.3em;
}

.navigation button {
  cursor: pointer;
  background-color: var(--paper-input-container-color);
}

.navigation a:hover,
.navigation button:hover {
  background-color: var(--accent-color);
  border-radius: 0.7em;
}

.icon {
  display: inline-block;
  width: 1.9rem;
  overflow: hidden;
}

.icon-large {
  width: 2.5rem;
}

.content {
  grid-column: col-start 3 / span 8;
  grid-row: 2 / 4;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a{
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1rem;
}
.wrapper > * {
  grid-column: col-start / span 12;
}
.main-footer{
  display: inline-flex;
  justify-content: space-around;

}

@media (min-width: 500px) {

  .main-head,
  .content,
  .ad,
  .side,
  .main-footer {
    grid-column: col-start 3 / span 9;
  }

}
@media (min-width: 700px) {

  .main-head {
    grid-column: col-start/ span 12;
    grid-row: 1;
  }

  /* .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  } */
  .content {
    grid-column: col-start / span 10;
    grid-row: 2 / 4;
    min-height: 50vh;
  }
  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }
  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }
  .main-footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}

/* Contenedor flex home page */
.flex-container-home {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.wrap-home {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-home a{
 text-decoration: none;
 color: white;
}

.flex-item-home {
  background:var(--accent-color);
  padding: 5px;
  width: 90%;
  max-width:100%;
  margin: 5px;

  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.flex-item-home img {
  max-width: 80%;
  height: auto;
}
/* Contenedor flex home page */
